* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    min-width: 500px;
    /* min-height: 800px; */
    overflow: hidden;
}



.flex {
    display: flex;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}
/* header */

header {
    width: 100%;
    height: 70px;
    background-color: black;
}

.header-nav {
    justify-content: flex-end;
}

.header-nav {
    color: white;
}

.header-nav a{
    color: white;
}

.header-nav> div {
    background-color: #4A4A4A;
    margin: 5px;
    border-radius: 5px;
    padding: 3px;
    font-size: 1em;
}

.speaker{
    align-items: baseline;
}
.speaker a {
    margin: 0 3px;
}

.arrow {
    width: 1.6em;
    height: 1.6em;
    justify-content: center;
    align-items: center;
}
    
/* main */
main {
    width: 100%;
    height: calc(100% - 160px);
    background-color: black;
    overflow: auto;
}

.main-container {
    width: 80%;
    margin: 0 auto;
    
}

.main-container ul {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-container ul li {
    background-image: url(../img/mario.jpg);
    background-position: center;
    background-size: cover;
    min-height: 110px;
    min-width: 200px;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 3px;
}

.list-f {
    justify-content: flex-end;
}

.li-name {
    display: flex;
    color: white;
    width: 55%;
    font-size: 1em;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* footer */
footer {
    width: 100%;
    height: 90px;
    background-color: #222222;
    color: white;
}

.block {
    display: block;
    font-size: 0.9em;
}

.footer-nav {
    width: 100%;
    height: 100%;
}

.col-l {
    width: 10%;
    height: 100%;
}
.col-l ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
}


.col-l li {
    width: 100%;
}

footer .fa-solid {
    font-size: 1.7em;
    color: white;
}

footer .fa-angle-up {
    font-size: 0.7em;
}
.col-center {
    width: 80%;
    height: 100%;
}

.col-center ul {
    height: 100%;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    text-align: center;

}

.col-center .fa-share-from-square {
    color: #4BC800;
}

.col-r {
    width: 10%;
    height: 100%;
    background-color: #4A4A4A;
}

.meeting {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    height: 100%;
    width: 100%;
    font-size: 0.8em;
}