* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    min-width: 500px;
    min-height: 800px;
    overflow: hidden;
}



.flex {
    display: flex;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}
/* header */

header {
    width: 100%;
    height: 70px;
    background-color: black;
}

.header-nav {
    justify-content: flex-end;
}

.header-nav {
    color: white;
}

.header-nav a{
    color: white;
}

.header-nav> div {
    background-color: #4A4A4A;
    margin: 5px;
    border-radius: 5px;
    padding: 3px;
    font-size: 0.8em;
}

.speaker{
    align-items: baseline;
}

/* main */
main {
    width: 100%;
    height: calc(100% - 160px);
    background-color: chocolate;
    overflow: auto;
}

.main-container {
    width: 90%;
    margin: 0 auto;
    
}

.main-container ul {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-container ul li {
    background-image: url(../img/mario.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100px;
    min-width: 200px;
    flex-direction: column;
    flex-wrap: wrap;
}

.list-f {
    justify-content: flex-end;
}

.li-name {
    display: flex;
    background-color: gray;
    color: white;
    width: 55%;
    font-size: 0.9em;
    padding: 5px;
}

/* footer */
footer {
    width: 100%;
    height: 90px;
    background-color: rgb(150, 123, 17);
}